<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>

        <main class="container">
            <% include ../static/partials/messages.ejs %>
            <h1>Click the button to upgrade to a premium account!</h1>
            <h3>One-time payment of $15.00

                <% if(currentUser){ %>
                    <form action="/users/<%= currentUser.id %>/upgrade" method="POST">
                    <script src="https://js.stripe.com/v3"></script>
                    <button id="checkout-button">Checkout</button>
                    <script>
                        var stripe = Stripe('pk_test_dNWpiU0irsAD41zhipxim6Px00aGKRaxi4');

                        var checkoutButton = document.querySelector('#checkout-button');
                        checkoutButton.addEventListener('click', function () {
                        stripe.redirectToCheckout({
                        items: [{
                           // Define the product and SKU in the Dashboard first, and use the SKU
                           // ID in your client-side code.
                       sku: 'sku_FYFc0DvrDYmFNm',
                       quantity: 1
                       }],
                    successUrl: 'https://www.example.com/success',
                  cancelUrl: 'https://www.example.com/cancel',
                   })
                   .then(function(result) {
                       if(result.error) {
                           var displayError = document.getElementById('error-message');
                           displayError.textContent = result.error.message;
                       }
                   });
                });
                      
             </script>
                </form>
                <% } %>
            </h3>
        </main>

        <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>